<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | SNS App</title>
    </head>
    <body>
        <h1>About</h1>
        <p>
            SNS application about page.
        </p>
    </body>
</html>


