<% provide(:title, "Contact")%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | SNS App</title>
    </head>
    <body>
        <h1>Contact</h1>
        <p>
            SNS application contact page.
        </p>
    </body>
</html>

