<% provide(:title, "Help")%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | SNS App</title>
    </head>
    <body>
        <h1>Help</h1>
        <p>
            SNS application help page.
        </p>
    </body>
</html>



