<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | SNS App</title>
    </head>
    <body>
        <div class="center jumbotron">
            <h1>SNS App</h1>
            <h2>
                This is the homepage for SNS application.
            </h2>
            <%= link_to "Sign up", '#', class: "btn btn-large btn-primary"%>
        </div>
    </body>
</html>



