<% provide(:title, "Home")%>
<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | SNS App</title>
    </head>
    <body>
        <h1>SNS App</h1>
        <p>
            This is the homepage for SNS application.
        </p>
    </body>
</html>



